body {
    background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
    background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */
    color: white;
    padding-top: 30px;
}

#infoPanel {
    padding-top: 20px;
}

#fetched_infoPanel {
    padding-top: 20px;
    text-align: right;
}

#artwork {
    width: 150px;
    height: auto;
}

#fetched_artwork {
    width: 150px;
    height: auto;
}

.filenameContainer {
    display: none;
}

#dirPath {
    display: inline-block;
}

#footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#footer hr {
    margin-bottom: 0;
    padding-bottom: 12px;
}

#labelPanel {
    padding-left: 0;
    padding-right: 0;
    padding-top: 209px;
}